    @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
     :root {
        --textHoverColor: rgb(5, 65, 143);
        --primaryColor: rgb(252, 168, 13);
    }
    
    body {
        font-family: 'Oswald', sans-serif;
    }
    
    html {
        scroll-behavior: smooth;
    }
    
    hr {
        color: #fff;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow-x: hidden;
    }
    
    p {
        font-family: 'Poppins', sans-serif;
    }
    
    header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 50px;
        border-top: 10px solid var(--primaryColor);
    }
    
    .logo {
        display: flex;
        width: 20%;
        flex-direction: column;
        cursor: pointer;
    }
    
    .logo h1 {
        font-size: 2rem;
        text-transform: uppercase;
        width: 100%;
    }
    
    .logo h1:hover {
        color: var(--textHoverColor);
    }
    
    .logo p {
        font-size: .9rem;
        text-transform: uppercase;
        opacity: 1;
        font-weight: 300;
        margin-top: -10px;
    }
    
    nav {
        display: flex;
        width: 60%;
        justify-content: space-between;
        align-items: center;
    }
    
    nav ul {
        display: flex;
        align-items: center;
        width: 70%;
        justify-content: space-between;
    }
    
    nav ul li {
        display: flex;
    }
    
    nav ul li a {
        text-decoration: none;
        text-transform: uppercase;
        color: #000;
        font-size: .9rem;
        font-weight: 400;
    }
    
    nav ul li a:hover {
        color: var(--primaryColor);
    }
    
    #quote {
        display: flex;
        padding: 15px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        outline: none;
        border: none;
        border-radius: 5px;
        font-weight: 900;
        background: var(--primaryColor);
        text-transform: uppercase;
        width: 25%;
        font-size: 1rem;
        font-family: 'Oswald', sans-serif;
    }
    
    .toggle {
        display: none;
        position: absolute;
        top: 10%;
        right: 5%;
        cursor: pointer;
    }
    
    .toggle i {
        font-size: 1.5rem;
    }
    /* end of header styles */
    /* slider */
    
    .slideshow-container {
        width: 100%;
        margin: auto;
        overflow: hidden;
    }
    
    .mySlides {
        display: none;
        width: 100%;
        position: relative;
    }
    
    .mySlides img {
        max-width: 100%;
        height: 700px;
        transform: scaleY(1.5);
        filter: opacity(1) drop-shadow(0 0 0 #000);
    }
    /* Caption text */
    
    .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 32%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    
    .text h1 {
        font-size: 4rem;
        margin-top: 30px;
        width: 100%;
    }
    
    .text p {
        margin-top: 20px;
        text-align: center;
        font-size: 1.5rem;
        width: 50%;
        justify-content: center;
        align-items: center;
        display: flex;
        font-weight: 300;
    }
    
    .slider-btns {
        display: flex;
        width: 30%;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }
    
    .slider-btns button {
        padding: 20px;
        width: 50%;
        margin-left: 10px;
        outline: none;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 700;
        font-family: 'Oswald', sans-serif;
        cursor: pointer;
    }
    
    #about {
        background: var(--primaryColor);
    }
    
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }
    
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
    
    @media screen and (max-width: 991px) {
        .mySlides {
            display: none;
            width: 100%;
            position: relative;
        }
        .mySlides img {
            max-width: 100%;
            height: 500px;
            transform: scaleY(1);
            filter: opacity(1) drop-shadow(0 0 0 #000);
        }
        /* Caption text */
        .text {
            color: #f2f2f2;
            font-size: 15px;
            padding: 8px 12px;
            position: absolute;
            bottom: 0%;
            top: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            text-align: center;
        }
        .text h1 {
            font-size: 2rem;
            margin-top: 100px;
            width: 100%;
        }
        .text p {
            font-size: 1rem;
            width: 70%;
            text-align: center;
        }
        .slider-btns {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
        }
        .slider-btns button {
            margin-bottom: 50px;
        }
        #about {
            background: var(--primaryColor);
        }
        .numbertext {
            color: #f2f2f2;
            font-size: 12px;
            padding: 8px 12px;
            position: absolute;
            top: 0;
        }
        .dot {
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }
    }
    /* end of slider */
    /* services styles */
    
    #services {
        display: flex;
        padding: 100px;
        flex-direction: column;
        width: 100%;
    }
    
    .s-heading {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .s-heading h1 {
        font-size: 3rem;
        text-transform: uppercase;
        width: 100%;
    }
    
    .s-heading p {
        margin-top: 10px;
        font-size: 1.5rem;
        width: 100%;
        font-weight: 100;
    }
    
    .s-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        margin-top: 50px;
    }
    
    .card-container {
        display: flex;
        flex-direction: column;
        border: 1px solid #bbb;
        border-radius: 20px;
    }
    
    .card-container img {
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        height: 200px;
    }
    
    .card-container h3 {
        padding: 10px;
        background: var(--primaryColor);
        padding-left: 20px;
        text-transform: capitalize;
    }
    
    .card-container p {
        padding: 10px;
        padding-left: 20px;
        margin-top: 30px;
        font-size: .9rem;
        width: 100%;
        opacity: .6;
    }
    
    .card-contact {
        padding: 10px;
        padding-left: 20px;
        margin: 20px 0px;
        display: flex;
        align-items: center;
        width: 50%;
        justify-content: space-between;
    }
    
    .card-contact h5 {
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 400;
    }
    
    .card-contact a {
        background: var(--primaryColor);
        padding: 15px;
        border: none;
        border-radius: 5px;
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }
    
    @media screen and (max-width: 991px) {
        #services {
            display: flex;
            padding: 30px;
            flex-direction: column;
            width: 100%;
        }
        .s-heading {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        .s-heading h1 {
            font-size: 2rem;
            text-transform: uppercase;
            width: 100%;
        }
        .s-heading p {
            margin-top: 10px;
            font-size: .95rem;
            width: 100%;
            font-weight: 100;
        }
        .s-cards {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 20px;
            margin-top: 50px;
            justify-content: center;
        }
        .card-container h3 {
            padding: 10px;
            background: var(--primaryColor);
            padding-left: 20px;
            text-transform: capitalize;
        }
        .card-container p {
            padding: 10px;
            padding-left: 20px;
            margin-top: 30px;
            font-size: .9rem;
            width: 100%;
            opacity: .6;
        }
    }
    /* end of services styles */
    /* choice */
    
    #choice {
        display: flex;
        width: 100%;
        justify-content: space-between;
        background: rgb(241, 241, 241);
    }
    
    #choice>img {
        display: flex;
        height: 500px;
        width: 40%;
        transform: skew(15deg) scale(1.2, 1);
        position: absolute;
        left: -8%;
    }
    
    .description {
        display: flex;
        flex-direction: column;
        margin-left: 500px;
        padding: 70px;
        width: 80%;
    }
    
    .description h1 {
        font-size: 3rem;
    }
    
    .description p {
        margin-top: 30px;
        font-size: 1.2rem;
        font-weight: 300;
        width: 100%;
    }
    
    .sub-demains {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    
    .s-contents {
        display: flex;
        align-items: center;
        width: 100%;
    }
    
    .s-contents img {
        display: flex;
    }
    
    .s-contents h5 {
        display: flex;
        font-size: 1.2rem;
        width: 80%;
    }
    
    .communication {
        display: flex;
        flex-direction: column;
        background: var(--primaryColor);
        width: 40%;
        padding: 10px 0px;
        color: #fff;
    }
    
    .phone,
    .mail {
        margin: 70px auto;
    }
    
    .phone>p,
    .mail>p {
        font-size: 1rem;
        font-weight: 500;
        transform: scaleY(1.5);
        width: 100%;
        display: flex;
        align-items: center;
    }
    
    .phone>p i,
    .mail>p i {
        margin-right: 10px;
    }
    
    .social-networks {
        display: flex;
        margin: 40px auto;
        justify-content: space-between;
        width: 100%;
        padding: 0px 30px;
    }
    
    .social-networks i {
        background: #fff;
        padding: 20px;
        border: none;
        border-radius: 50%;
        color: var(--primaryColor);
        margin-left: 5px;
        cursor: pointer;
    }
    
    .social-networks i:hover {
        color: #000;
    }
    /* end of choice style */